<div class="main-container">
  <h4>Demo Cadastro</h4>  
  <hr />
  

  <form [formGroup]="cadastroForm" (ngSubmit)="userPersist()">

    <div class="mb-3">
        <label for="name" class="form-label">Nome Completo *</label>
        <div class="">
            <input class="form-control" formControlName="name" id="name" type="text" placeholder="Nome (requerido)" />            
        </div>
    </div>

    <div class="mb-3">
        <label class="col-md-2 form-label" for="cpf">CPF *</label>
        <div class="">
            <input class="form-control" formControlName="cpf" id="cpf" type="text" placeholder="CPF (requerido)" />
        </div>
    </div>
    
    <div class="mb-3">
      <label for="email" class="form-label">e-mail *</label>
      <div class="">
        <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="e-mail (requerido)" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
    </div>   

    <div class="mb-3">
      <label for="password" class="form-label">Senha *</label>
      <div class="col-md-10">
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="Senha (requerido)" />
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar Senha *</label>
      <div class="col-md-10">
          <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirme a Senha (requerido)" />
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary mt-2" >
        <i class="fa fa-save me-2"></i>Cadastrar</button>    
  </form>
 
</div>
