<div class="main-container">
  <h4>Cadastro</h4>  
  <hr />  

  <form [formGroup]="cadastroForm" (ngSubmit)="userPersist()">

    <div class="mb-3">
        <label for="name" class="form-label">Nome Completo *</label>        
        <input class="form-control" formControlName="name" id="name" type="text" placeholder="Nome (requerido)" 
        [ngClass]="{'is-invalid': displayMessage.name}"
        />            
        <span class="form-text text-danger" *ngIf="displayMessage.name">
            <p>{{ displayMessage.name }}</p>
        </span>        
    </div>

    <div class="mb-3">
        <label class="col-md-2 form-label" for="cpf">CPF</label>        
        <input class="form-control" formControlName="cpf" id="cpf" type="text" placeholder="CPF" cpf [textMask]="{mask: MASKS.cpf.textMask}"
        [ngClass]="{'is-invalid': displayMessage.cpf}"
        />            
        <span class="form-text text-danger" *ngIf="displayMessage.cpf">
            <p>{{ displayMessage.cpf }}</p>
        </span>     
    </div>
    
    <div class="mb-3">
        <label for="email" class="form-label">e-mail</label>     
        <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="e-mail"        
        [ngClass]="{'is-invalid': displayMessage.email}"
        />            
        <span class="form-text text-danger" *ngIf="displayMessage.email">
            <p>{{ displayMessage.email }}</p>
        </span>       
    </div>   

    <div class="mb-3">
        <label for="password" class="form-label">Senha *</label>      
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Senha (requerido)" 
        [ngClass]="{'is-invalid': displayMessage.password}"
        />            
        <span class="form-text text-danger" *ngIf="displayMessage.password">
            <p>{{ displayMessage.password }}</p>
        </span>     
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Senha *</label>      
        <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirme a Senha (requerido)" 
        [ngClass]="{'is-invalid': displayMessage.confirmPassword}"
        />            
        <span class="form-text text-danger" *ngIf="displayMessage.confirmPassword">
            <p>{{ displayMessage.confirmPassword }}</p>
        </span>      
    </div>    
    
    <button type="submit" class="btn btn-primary mt-2" [disabled]="!cadastroForm.valid">
        <i class="fa fa-save me-2"></i>Cadastrar</button>    
  </form>
 
</div>
